<!doctype html>
<html lang="en" ng-app="logApp" ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>Security Logger Application</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Security Logger Application">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Gavin Gregory, Geoff Whitehead">

    <!-- Material Design Components -->

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="assets/images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <link rel="shortcut icon" href="assets/images/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/bower_components/md-color-picker/dist/mdColorPicker.min.css">
    <!-- Angular Components -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/d3/d3.min.js"></script>
    <script src="/bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="/bower_components/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="/bower_components/socket.io-client/socket.io.js"></script>
    <script src="/bower_components/angular-socket-io/socket.js"></script>
    <script src="/bower_components/tinycolor/dist/tinycolor-min.js"></script>
    <script src="/bower_components/md-color-picker/dist/mdColorPicker.min.js"></script>

    <!-- Google Maps Dependencies -->
    <script src='/bower_components/lodash/dist/lodash.min.js'></script>
    <script src='/bower_components/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
    <script src='/bower_components/angular-google-maps/dist/angular-google-maps.min.js'></script>
    <script src="/app/app.js"></script>
    <script src="/app/index.js"></script>

    <!-- Angular Components / Controllers -->
    <script src="/app/controllers/events/EventListController.js"></script>
    <script src="/app/controllers/events/EventViewController.js"></script>
    <script src="/app/controllers/events/EventCreateController.js"></script>
    <script src="/app/controllers/categories/CategoryListController.js"></script>
    <script src="/app/controllers/categories/CategoryViewController.js"></script>
    <script src="/app/controllers/categories/CategoryCreateController.js"></script>
    <script src="/app/controllers/customers/CustomerListController.js"></script>
    <script src="/app/controllers/customers/CustomerViewController.js"></script>
    <script src="/app/controllers/customers/CustomerEditController.js"></script>
    <script src="/app/controllers/customers/CustomerDeleteController.js"></script>
    <script src="/app/controllers/customers/CustomerCreateController.js"></script>
    <script src="/app/controllers/sites/SiteListController.js"></script>
    <script src="/app/controllers/sites/SiteViewController.js"></script>
    <script src="/app/controllers/sites/SiteCreateController.js"></script>
    <script src="/app/controllers/account/SignupController.js"></script>
    <script src="/app/controllers/organisation/OrganisationViewController.js"></script>
    <script src="/app/controllers/ControlPanelController.js"></script>
    <script src="/app/controllers/MainController.js"></script>
    <script src="/app/controllers/account/AuthController.js"></script>
    <script src="/app/controllers/MessagesController.js"></script>
    <script src="/app/controllers/ProfileController.js"></script>
    <script src="/app/controllers/SearchController.js"></script>

    <!-- Angular Components / Services -->
    <script src="/app/services/authFactory.js"></script>
    <script src="/app/services/customerFactory.js"></script>
    <script src="/app/services/geocodeFactory.js"></script>
    <script src="/app/services/toastFactory.js"></script>
    <script src="/app/services/eventFactory.js"></script>
    <script src="/app/services/categoryFactory.js"></script>
    <script src="/app/services/commentFactory.js"></script>
    <script src="/app/services/organisationFactory.js"></script>
    <script src="/app/services/siteFactory.js"></script>
    <script src="/app/services/localStorage.js"></script>
    <script src="/app/services/NavService.js"></script>
    <script src="/app/services/pageStateFactory.js"></script>

    <!-- Angular Components / Directives -->
    <script src="/app/directives/buttonHref.js"></script>
    <script src="/app/directives/messagesSection.js"></script>
    <script src="/app/directives/panelWidget.js"></script>
    <script src="/app/directives/addressCard.js"></script>
    <script src="/app/directives/customerFormDirective.js"></script>

    <!-- Custom Components -->
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/sass/custom.css">
    <link rel="stylesheet" href="assets/sass/table.css">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body ng-controller="AuthController as auth">
    <div ui-view layout="row" layout-fill ng-show="auth.authentication.logged_in"></div>
    <div ng-hide="auth.authentication.logged_in">
      <md-content md-theme="dark" class="md-padding" layout="column" layout-sm="column">
        <h1>You are not authenticated ... </h1>
        <md-content layout="row" layout-sm="colun">
          <form ng-submit="auth.login(vm.username, vm.password)">
            <md-input-container flex="" class="md-input-has-placeholder flex"><label for="username">Username</label> <input ng-model="vm.username" placeholder="Enter username" class="ng-pristine ng-valid md-input ng-empty ng-touched" id="username" aria-invalid="false"><div class="md-errors-spacer"></div></md-input-container>
            <md-input-container flex="" class="md-input-has-placeholder flex"><label for="password">Password</label> <input ng-model="vm.password" type="password" placeholder="Enter password" class="ng-pristine ng-valid md-input ng-empty ng-touched" id="password" aria-invalid="false"><div class="md-errors-spacer"></div></md-input-container>
            <button class="md-raised md-warn md-button md-ink-ripple" type="submit" aria-label="Login"><span class="ng-scope">
              Login
            </span><div class="md-ripple-container"></div></button>
          </form>
        </md-content>
      </md-content>
    </div>
  </body>

</html>
