<!doctype html>
<html lang="en" ng-app="logApp">
  <head>
    <meta charset="utf-8">
    <title>Security Logger Application</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Security Logger Application">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="author" content="Gavin Gregory, Geoff Whitehead">

    <!-- Material Design Components -->

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="assets/images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="assets/images/favicon.png">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <style>
      .app-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
        padding-right: 0;
      }
    </style>

    <!-- Angular Components -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/controllers/globalCtrl.js"></script>
    <script src="/app/controllers/events/eventListCtrl.js"></script>
    <script src="/app/controllers/events/eventViewCtrl.js"></script>
    <script src="/app/controllers/events/eventCreateCtrl.js"></script>
    <script src="/app/controllers/customers/customerListCtrl.js"></script>
    <script src="/app/controllers/customers/customerViewCtrl.js"></script>
    <script src="/app/controllers/customers/customerEditCtrl.js"></script>
    <script src="/app/controllers/customers/customerDeleteCtrl.js"></script>
    <script src="/app/controllers/customers/customerCreateCtrl.js"></script>
    <script src="/app/controllers/sites/siteListCtrl.js"></script>
    <script src="/app/controllers/sites/siteViewCtrl.js"></script>
    <script src="/app/controllers/sites/siteCreateCtrl.js"></script>
    <script src="/app/services/authFactory.js"></script>
    <script src="/app/services/customerFactory.js"></script>
    <script src="/app/services/eventFactory.js"></script>
    <script src="/app/services/organisationFactory.js"></script>
    <script src="/app/services/siteFactory.js"></script>
    <script src="/app/services/localStorage.js"></script>

    <!-- Custom Components -->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <script src="/bower_components/socket-io/build/library.js"></script>
  <script src="/bower_components/angular-socket-io/socket.js">

  </script>

  <!-- Socket IO -->
  <script> var socket = io(); </script>


  <body ng-controller="globalCtrl">
    <div class="app-layout-waterfall mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--waterfall">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Security App</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                      mdl-textfield--floating-label mdl-textfield--align-right">
            <label class="mdl-button mdl-js-button mdl-button--icon"
                   for="waterfall-exp">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" name="sample"
                     id="waterfall-exp">
            </div>
          </div>
        </div>
        <!-- Bottom row, not visible on scroll -->
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation -->
          <nav class="mdl-navigation" ng-hide="authentication.logged_in">
            <a class="mdl-navigation__link" href=""><i class="material-icons">lock</i>&nbsp;Login</a>
          </nav>
          <nav class="mdl-navigation" ng-show="authentication.logged_in">
            <a class="mdl-navigation__link" href="/#/"><i class="material-icons">keyboard_arrow_left</i>&nbsp;Home</a>
            <a class="mdl-navigation__link" href="/#/customers"><i class="material-icons">assignment_ind</i>&nbsp;Customers</a>
            <a class="mdl-navigation__link" href="/#/sites"><i class="material-icons">room</i>&nbsp;Sites</a>
            <a class="mdl-navigation__link" href="/#/events"><i class="material-icons">view_headline</i>&nbsp;Events</a>
            <a class="mdl-navigation__link" href="/#/organisation"><i class="material-icons">domain</i>&nbsp;My Organisation</a>
            <a class="mdl-navigation__link" ng-click="logout()"><i class="material-icons">lock</i>&nbsp;Logout</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="">Link</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content" ng-view>

        </div>
        <div ng-hide="authentication.logged_in">
          <button type="button" class="mdl-button show-modal">Login</button>
          <dialog class="mdl-dialog">
            <div class="mdl-dialog__content">
              <p>
                Enter your username and password to login to the application.
              </p>
            </div>
            <form action="#">
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="text" id="username" ng-model="loginData.username">
                <label class="mdl-textfield__label" for="username">Username...</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input" type="password" id="password" ng-model="loginData.password">
                <label class="mdl-textfield__label" for="password">Password...</label>
              </div>
              <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                <button type="button" class="mdl-button close">Exit</button>
                <button type="submit" class="mdl-button close" ng-click="login(loginData.username, loginData.password)">Submit</button>
              </div>
            </form>
          </dialog>
        </div>
        <script>
          var dialog = document.querySelector('dialog');
          var showModalButton = document.querySelector('.show-modal');
          if (! dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
          }
          showModalButton.addEventListener('click', function() {
            dialog.showModal();
          });
          dialog.querySelector('.close').addEventListener('click', function() {
            dialog.close();
          });
        </script>
      </main>
    </div>
    <script src="/bower_components/material-design-lite/material.min.js"></script>
  </body>
</html>
