

<form name="categoryForm" class="" ng-submit=vm._create(vm.category)>
  <md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
      <h1>Create a new Category</h1>
  </md-content>
  <md-content class="md-padding" layout="column">

    <div flex layout="row" layout-sm="column">
      <md-input-container flex>
        <input class="mdl-textfield__input" type="text" id="name" ng-model="vm.category.name">
        <label class="mdl-textfield__label" for="name">Category Name:</label>
      </md-input-container>
    </div>
    <div flex layout="row" layout-sm="column">

      <md-input-container flex>

        <div layout="row">
      		<div
          flex label="Category Colour"
          md-color-picker
          md-color-material-palette="true"
          ng-model="vm.category.colour"
          md-color-rgb="false"
          md-color-hsl="false"
          has-backdrop="true"
          click-outside-to-close="true"
          open-on-input="true"
          random="true"
          icon="format_color_text">
          {{vm.category.colour}}
        </div>
      	</div>

      </md-input-container>

    </div>
    <div flex layout="row" layout-sm="column">
      <md-input-container flex>
        <input class="mdl-textfield__input" type="text" id="description" ng-model="vm.category.description">
        <label class="mdl-textfield__label" for="colour">Category Description</label>
      </md-input-container>
    </div>
  </md-content>
  <md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">

     <md-button type="submit" class="md-raised" ng-click="vm.create(vm.category)">
       Create
     </md-button>
  </md-content>
</form>
