<h1>Create a Category</h1>

<form name="categoryForm" class="" ng-submit=vm._create(vm.category)>
  <md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
      <h1>Create a new Category</h1>
  </md-content>
  <md-content class="md-padding" layout="column">

    <div flex layout="row" layout-sm="column">
      <md-input-container flex>
        <input class="mdl-textfield__input" type="text" id="name" ng-model="vm.category.name">
        <label class="mdl-textfield__label" for="name">Category Name:</label>
      </md-input-container>
    </div>
    <div flex layout="row" layout-sm="column">
      <md-input-container flex>
  		<label class="ng-binding" for="input_3"><!-- ngIf: icon --><md-icon ng-if="icon" class="ng-binding ng-scope ng-isolate-scope md-docs-dark-theme material-icons">format_color_text</md-icon><!-- end ngIf: icon -->Text Color</label>
  		<input type="input" ng-model="value" class="md-color-picker-input ng-pristine ng-valid md-input ng-touched" ng-mousedown="(openOnInput || !mdColorPreview) &amp;&amp; showColorPicker($event)" id="input_3" tabindex="0" aria-invalid="false" style="">
	    <div class="md-errors-spacer"></div>

        <input class="mdl-textfield__input" type="text" id="colour" ng-model="vm.category.colour">
        <label class="mdl-textfield__label" for="colour">Category Colour</label>
      </md-input-container>
    </div>
    <div flex layout="row" layout-sm="column">
      <md-input-container flex>
        <input class="mdl-textfield__input" type="text" id="description" ng-model="vm.category.description">
        <label class="mdl-textfield__label" for="colour">Category Description</label>
      </md-input-container>
    </div>
  </md-content>
  <md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">

     <md-button type="submit" class="md-raised" ng-click="vm.create(vm.category)">
       Create
     </md-button>
  </md-content>
</form>
