<form name="vm.categoryForm" class="" ng-submit="vm.create(vm.category)" novalidate>
  <md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <h1>Create a new Category</h1>
  </md-content>
  <md-content class="md-padding" layout="column">
    <md-input-container flex>
      <label>Name</label>
      <input name="name" ng-model="vm.category.name" placeholder="Please provide a name for this category.." required>
      <p class="md-accent" ng-show="vm.categoryForm.name.$touched && vm.categoryForm.name.$invalid">
        Name is required
      </p>
    </md-input-container>
    <md-input-container flex>
      <div layout="row">
        <div flex md-color-picker="vm.colorPickerOptions" ng-model="vm.category.colour">
          {{vm.category.colour}}
        </div>
        <p class="md-accent" ng-show="vm.categoryForm.colour.$touched && vm.categoryForm.colour.$invalid">
          Colour is required
        </p>
      </div>
    </md-input-container>
    <md-input-container flex>
      <label>Description</label>
      <input name="description" ng-model="vm.category.description" placeholder="Please provide a description for this category.." required>
      <p class="md-accent" ng-show="vm.categoryForm.description.$touched && vm.categoryForm.description.$invalid">
        Description is required
      </p>
    </md-input-container>
  </md-content>
  <md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <md-button type="submit" class="md-raised" ng-disabled="vm.categoryForm.$invalid">
      Create
    </md-button>
  </md-content>
</form>
