<form name="customerForm" class="" ng-submit="vm.create(vm.customer)">
  <md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <h1>Create a new Customer</h1>
  </md-content>
  <md-content class="md-padding" layout="column">
    <div flex layout="row" layout-sm="column">
      <md-input-container flex>
        <label>Name</label>
        <input ng-model="vm.customer.name" placeholder="The customer's business name">
      </md-input-container>
      <md-input-container flex>
        <label>Trading name</label>
        <input ng-model="vm.customer.trading_name" placeholder="The customer's trading name">
      </md-input-container>
    </div>
    <div flex layout="row" layout-sm="column">
      <h4>Address</h4>
    </div>
    <sec-address-card address="vm.customer.address" mode="create"></sec-address-card>
  </md-content>
  <md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <md-button type="submit" class="md-raised">
      Create
    </md-button>
  </md-content>
</form>
