  <div layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="Go Back" ui-sref="home.dashboard">
        Go Back
      </md-button>
      <h2>
        <span>All Events</span>
      </h2>
      <span flex></span>
      <md-button class="md-fab md-mini" aria-label="Add" ui-sref="home.events.create">
        <i class="material-icons">add</i>
      </md-button>
    </div>
  </md-toolbar>

  <div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered md-caption">
      <thead>
        <tr>
          <th>
            Customer - Site
          </th>
          <th>
            Created
          </th>
          <th>
            Category
          </th>
          <th colspan="2">
            Comment
          </th>
          <th>
            Options
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in vm.events | orderBy:'-comments[0].createdAt'">
          <td data-title="Customer and Site">
            <a ui-sref="home.customers.view({customer_id: row.site.customer._id})">{{row.site.customer.name}}</a> - <a ui-sref="home.sites.view({site_id: row.site._id})">{{row.site.name}}</a>
          </td>
          <td data-title="Created">
            {{row.createdAt | date:'medium'}} by {{row.comments[0].creator.name.first}} {{row.comments[0].creator.name.last}}
          </td>
          <td data-title="Category">
            <i class="material-icons" style="color: {{row.category.colour}}">lens</i>&nbsp;{{row.category.name}}
            <md-tooltip md-direction="bottom">
              {{row.category.description}}
            </md-tooltip>
          </td>
          <td data-title="Comments">
            {{row.comments[0].text}}
          </td>
          <td>
            <md-button ng-show="row.comments.length -1" class="md-fab md-mini" aria-label="View comments" ng-click="vm.showCommentsDialog($event, row)">
              +{{row.comments.length -1}}
            </md-button>
          </td>
          <td data-title="Options">
            <div layout="row" ng-hide="row.resolved">
              <div>
                <md-button ng-click="vm.addCommentDialog($event, row)" title="Add a comment" aria-label="Add a comment" class="md-fab md-mini">
                  <i class="material-icons">comment</i>
                </md-button>
                <md-tooltip md-direction="bottom">
                  Add a comment to this event
                </md-tooltip>
              </div>
              <div>
                <md-button ng-click="vm.resolveEventDialog($event, row)" title="Resolve event" aria-label="Resolve event" class="md-icon-button launch">
                  <i class="material-icons">check_circle</i>
                </md-button>
                <md-tooltip md-direction="bottom">
                  Resolve this event
                </md-tooltip>
              </div>
              <div>
                <md-button ui-sref="home.events.view({event_id: row._id})" title="View event" aria-label="View event" class="md-icon-button launch">
                  <i class="material-icons">description</i>
                </md-button>
                <md-tooltip md-direction="bottom">
                  View this event
                </md-tooltip>
              </div>
              <div>
                <md-button ui-sref="home.events.edit({event_id: row._id})" title="Edit event" aria-label="Edit event" class="md-icon-button launch">
                  <i class="material-icons">mode_edit</i>
                </md-button>
                <md-tooltip md-direction="bottom">
                  Edit this event
                </md-tooltip>
              </div>
            </div>
            <div ng-show="row.resolved">
              <i class="material-icons md-fab md-mini">check_circle</i>
              <md-tooltip md-direction="bottom">
                This event has been resolved
              </md-tooltip>
              Marked as resolved by {{row.comments[row.comments.length -1].creator.name.first}} {{row.comments[row.comments.length -1].creator.name.last}}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
