<h1>Event View</h1>
<h2>{{vm.event.name}}</h2>
<md-list>
  <md-list-item class="md-2-line">

    <div class="md-list-item-text">
      <h3>Site</h3>
      <p>
        {{vm.event[0].site.name}}
      </p>
      <p>
        {{vm.event[0].site.address.number}},
        {{vm.event[0].site.address.town}},
        {{vm.event[0].site.address.city}},
        {{vm.event[0].site.address.county}},
        {{vm.event[0].site.address.country}},
        {{vm.event[0].site.address.pc_zip}},
      </p>
    </div>
  </md-list-item>
  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>Category</h3>
      <p>{{vm.event[0].category}}</p>
    </div>

  </md-list-item>
  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>Logged By</h3>
      <p>{{vm.event[0].loggedBy.name.first}} {{vm.event[0].loggedBy.name.last}}</p>
    </div>

  </md-list-item>
  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>Updated</h3>
      <p>{{vm.event[0].updatedAt}}</p>
    </div>

  </md-list-item>
  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>Created</h3>
      <p>{{vm.event[0].createdAt}}</p>
    </div>

  </md-list-item>
  <md-list-item class="md-2-line">
    <div class="md-list-item-text">
      <h3>Comments</h3>
      <p>{{value}}</p>
    </div>

  </md-list-item>
</md-list>
