<form name="siteForm" class="" ng-submit="vm.create(vm.site)" ng-show="vm.customers.length">
  <md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <h1>Create <span ng-show="vm.site.name">{{vm.site.name}}</span><span ng-hide="vm.site.name">a new Site</span><span ng-show="vm.selectedCustomerName"> for {{vm.selectedCustomerName}}</span></h1>
  </md-content>
  <md-content class="md-padding" layout="column">
    <div flex layout="row" layout-sm="column">
      <md-input-container flex>
        <label>Name</label>
        <input ng-model="vm.site.name" placeholder="Please provide a name for this site..">
      </md-input-container>
    </div>
    <div flex layout="row" layout-sm="column">
      <md-input-container flex>
        <md-select ng-model="vm.site.customer" placeholder="Select a customer.." ng-change="vm.customerDisplayName(vm.site.customer, vm.customers)">
          <md-option ng-value="c._id" ng-repeat="c in vm.customers">{{c.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>
    <div flex layout="row" layout-sm="column">
      <h4>Address</h4>
    </div>
    <sec-address-card address="vm.site.address"></sec-address-card>
  </md-content>
  <md-content md-theme="dark" class="md-padding" layout="row" layout-sm="column">
    <md-button type="submit" class="md-raised">
      Create
    </md-button>
  </md-content>
</form>
