<div layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button aria-label="Go Back" ui-sref="home.dashboard">
        Go Back
      </md-button>
      <h2>
        <span>All Sites</span>
      </h2>
      <span flex></span>
      <md-button class="md-fab md-mini" aria-label="Add" ui-sref="home.sites.create">
        <i class="material-icons">add</i>
      </md-button>
    </div>
  </md-toolbar>
  <div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Customer</th>
          <th>Created</th>
          <th>Updated</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="row in vm.sites">
          <td data-title="ID">{{row._id}}</td>
          <td data-title="Name">{{row.name}}</td>
          <td data-title="Customer"><a ui-sref="home.customers.view({customer_id: row.customer._id})"><i class="material-icons">location_city</i>&nbsp;{{row.customer.name}}</a></td>
          <td data-title="Created">{{row.createdAt}}</td>
          <td data-title="Updated">{{row.updatedAt}}</td>
          <td data-title="Options">
            <div>
              <md-button ui-sref="home.sites.view({site_id: row._id})"
              title="View site"
              aria-label="View site"
              class="md-icon-button launch" >
              <i class="material-icons">description</i>
            </md-button>

            <md-tooltip md-direction="bottom">
              View this site
            </md-tooltip>

            </div>
            <div>
              <md-button ui-sref="home.sites.edit({site_id: row._id})"
              title="Edit site"
              aria-label="View site"
              class="md-icon-button launch" >
              <i class="material-icons">mode_edit</i>
            </md-button>

            <md-tooltip md-direction="bottom">
              Edit this site
            </md-tooltip>

            </div>
            <div>
              <md-button ui-sref="home.sites.delete({site_id: row._id})"
              title="Delete site"
              aria-label="View site"
              class="md-icon-button launch" >
              <i class="material-icons">delete_forever</i>
            </md-button>

            <md-tooltip md-direction="bottom">
              Delete this site
            </md-tooltip>

            </div>



          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
